<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
        <meta content="#262626" name="theme-color" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/s/index.css" />
    </head>
    <body>
        <header>
            <a href="/" class="logo">
                <h1>waste<span class="logo-red">bin</span></h1>
            </a>
            <div>
                <button type="submit" form="paste" class="save" tabindex="2">
                    Save
                </button>
                <a href="/logout" class="save" tabindex="3">Log Out</a>
            </div>
        </header>

        <form action="/new" method="post" id="paste" class="content-container">
            <textarea
                name="content"
                class="content"
                spellcheck="false"
                tabindex="1"
                autofocus
                placeholder="some code here"
                cols="30"
                rows="10"
            ></textarea>
        </form>
    </body>
</html>
