<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
    </head>
    <body>
        <form action="/new" method="post">
            <textarea
                name="content"
                id="content"
                cols="30"
                rows="10"
            ></textarea>
            <button>Submit</button>
        </form>
    </body>
</html>
