<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head', { title: 'login' }) %>
        <link
            href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/s/auth.css" />
    </head>
    <body>
        <h1 class="title">Login</h1>

        <% if (locals.error || locals['2fa']) { %>
        <p class="error"><%= locals.error || 'You have 2FA enabled' %></p>
        <% } %>

        <% if (locals['2fa']) { %>
        <form action="/login/2fa" method="post">
            <input
                type="number"
                name="token"
                placeholder="123456"
                class="input"
                autofocus
            />
        </form>
        <% } else { %>
        <form action="/login" method="post">
            <input
                type="email"
                name="email"
                placeholder="Email"
                class="input"
            />
            <input
                type="password"
                name="password"
                placeholder="Password"
                class="input"
            />
            <button class="button">Login</button>
        </form>
        <% } %>
    </body>
</html>
