<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head', { title: 'register' }) %>
        <link
            href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/s/auth.css" />
    </head>
    <body>
        <h1 class="title">Register</h1>

        <% if (locals.error) { %>
        <p class="error"><%= error %></p>
        <% } %>

        <form action="/register" method="post">
            <input
                type="email"
                name="email"
                placeholder="Email"
                class="input"
            />
            <input
                type="password"
                name="password"
                placeholder="Password"
                class="input"
            />
            <button class="button">Register</button>
        </form>
    </body>
</html>
