:root {
    --primary: #ee4c4c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.confirm-2fa {
    display: none;
}

.qrcode {
    width: 500px;
}

.pastes {
    display: flex;
    flex-direction: column;
}

.paste {
    display: flex;
    gap: 0.5rem;
}
